{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-5">
            <img class="img-fluid" src="/uploads/product{{product.productImage}}" alt="{{product.name}}">
        </div>
        <div class="col-md-7 my-auto">
            <h3>{{product.name}}</h3>
            <p>{{product.description}}</p>
            <span class="product-price">{{(product.price / 100 )|number_format(3,',', '.')}}KD </span>
            <hr>
            <p>{{product.description}}</p>
            <button class="btn btn-warning">Add to Cart</button>
        </div>
    </div>
{% endblock %}
